// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: black;
}
.sm-icon {
  width: 32px;
  height: 32px;
}
